body { 
background: rgb(228,238,253);
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.wrapper {
  min-height: 100% !important;
  height: 100%;
  margin: -10px auto 0 auto !important;
  width: 1000px;
}

div.nav-back
{
  width: 100%;
  background-color: rgb(0,0,0);
  position: absolute;
  top: 0;
  height: 60px;
}

.margen-50
{
  margin-bottom: 50px;
}

.margen-30
{
  margin-bottom: 30px;
}

.margen-25
{
  margin-bottom: 25px;
}


.logo-miAuto{
	margin-right: 30px;
	height: 40px;
	width: auto;
	float:left;
	margin-top: 6px;
}
ul.navbar {

  z-index: 30;
  height:60px;
  list-style-type: none;
  margin: 10px 0px;
  padding: 0;
  overflow: hidden;
  background-color: none;
  top: 0;
  width: 100%; 
  display: inline-block;

  
}

li.nav-gral{
   list-style-type: none;
}

li.nav-gral {
  float:left;
}


li.nav-gral a:visited{
  color: white;
}

li.nav-gral a {
  display: block;
  color: white;
  text-align: center;
  padding: 19px 21px;
  text-decoration: none;
}

li.nav-gral a:hover {
  background-color: #111;
  color: rgb(172,202,243);
  text-decoration: none;
}


li a.active
{
  color: rgb(94,139,205);
  text-decoration: none;
}

.font-nav{

font-size: 12px;
font-weight: 400;
letter-spacing: 1px;
text-decoration: none;
text-transform: uppercase;
}

.login{
  float:right !important;
}


.font-nav-login{

font-size: 12px;
font-weight: 200;
letter-spacing: 1px;
text-decoration: none;
}


.header-section{

  height: 500px;
  margin: 0 20px;
}

.header-image{
  padding-right: 15px;
  float: right;
  height: 100%;
  margin-top: -25px;
}

.main-header-section{

  height: 100%;

}

.main-header{
  
  margin-top: 45px;
  font-size: 35px;
  text-align: center;
  margin-left: -15px;

}

.sub-header{
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  width: 420px;
  margin-left: 110px;

}

.store-icons{
  margin-top: 7px;
}

.store-icons-list{

list-style-type: none;
display: inline-block;
}
.play-store-logo
{
  margin-right: 3px;
  height: 50px;
  width: auto;
}

.header-bottom-line{
  margin-top: -26px;
  border-bottom: 0.01em solid rgb(200,200,200) ;
  width: 100%;
}

.bottom-footer{
  border-top: 0.01em solid rgb(200,200,200) ;
  bottom:0;
  height: 30px;
  color: white;
  width: 1000px;
  text-align:center;
  margin: 0 auto 30px auto;
}

.bottom-footer-items{
  list-style-type: none;
  display: inline-block;
  margin: 10px 10px;
  float: right;
  font-size: 13px;
}

.footer-links:hover{
  text-decoration: none;
}


.footer {
  border-top: 0.01em solid rgb(200,200,200) ;
  position:relative;
  bottom:0;
  height: 150px;
  width: 1000px;
  text-align:left;
  margin: 0 auto 0 auto;
  padding-top: 10px;
  
}

.top-footer-title {
  
}

.top-footer-list{
  list-style-type: none;
  text-align: left;
}

.data-section-wrapper{
  padding-left: 110px;
  padding-right: 20px;
  /*border-bottom:  0.01em solid rgb(200,200,200) ;*/
  padding-bottom: 60px;
  padding-top: 60px;
}



.data-section-title{
  width: 360px;
}


.data-section-image{
  width: 300px;
  margin-left: 15px;
}


