body { 
  background-color: white; 
 
}

.logo-miAuto
{
 padding-right: 50px !important;
}

/*MOMENTANEO*/

.logo{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  float:left;
  padding: 20px;

}



.wrapper {
  min-height: 100% !important;
  height: 100%;
  margin: -10px auto 0 auto !important;
  width: 1000px;
}

div.nav-back
{
  width: 100%;
  background-color: rgb(40,40,40);
  position: absolute;
  top: 0;
  height: 60px;
}

.margen-50
{
  margin-bottom: 50px;
}

.margen-30
{
  margin-bottom: 30px;
}

.margen-25
{
  margin-bottom: 25px;
}


ul.navbar {

  z-index: 30;
  height:60px;
  list-style-type: none;
  margin: 10px 0px;
  padding: 0;
  overflow: hidden;
  background-color: none;
  top: 0;
  width: 100%; 
  display: inline-block;

  
}

li.nav-gral{
   list-style-type: none;
}

li.nav-gral {
  float:left;
}


li.nav-gral a:visited{
  color: white;
}

li.nav-gral a {
  display: block;
  color: white;
  text-align: center;
  padding: 19px 21px;
  text-decoration: none;
}

li.nav-gral a:hover {
  background-color: #111;
  color: rgb(174, 255, 178);
  text-decoration: none;
}


li a.active
{
  color: rgb(114, 195, 118) ;
  text-decoration: none;
}

.font-nav{

font-family: "Open Sans", "Alef Hebrew", helvetica, sans-serif;
font-size: 12px;
font-weight: 400;
letter-spacing: 1px;
text-decoration: none;
text-transform: uppercase;
}

.login{
  float:right !important;
}


.font-nav-login{

font-family: "Open Sans", "Alef Hebrew", helvetica, sans-serif;
font-size: 12px;
font-weight: 200;
letter-spacing: 1px;
text-decoration: none;
}


.header-section{
  height: 500px;
  margin: 0 20px;
}

.header-image{
  padding-right: 15px;
  float: right;
  height: 100%;
  margin-top: -25px;
}

.main-header-section{

  height: 100%;

}

.main-header{
  
  margin-top: 45px;
  font-family: "Open Sans", "Alef Hebrew", helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
  margin-left: -15px;

}

.sub-header{
  margin-top: 10px;
  font-family: "Open Sans", "Alef Hebrew", helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  width: 420px;
  margin-left: 110px;

}

.store-icons{
  margin-top: 7px;
}

.store-icons-list{

list-style-type: none;
display: inline-block;
}
.play-store-logo
{
  margin-right: 3px;
  height: 50px;
  width: auto;
}

.header-bottom-line{
  margin-top: -25px;
  border:1px solid black;
}

.bottom-footer{
  border-top: 0.01em solid rgb(200,200,200) ;
  bottom:0;
  height: 30px;
  color: white;
  width: 1000px;
  text-align:center;
  margin: 0 auto 30px auto;
}

.bottom-footer-items{
  list-style-type: none;
  display: inline-block;
  margin: 10px 10px;
  float: right;
  font-size: 13px;
}

.bottom-footer-links:hover{
  text-decoration: none;
}


.footer {
  border-top: 0.01em solid rgb(200,200,200) ;
  left:10px;
  position:relative;
  bottom:0;
  height: 150px;
  width: 1000px;
  text-align:left;
  margin: 0 auto 0 auto;
  padding-top: 10px;
  
}

/*



#logo-sushisan{

  position:absolute;
  top:-60px; 
  left:-60px

}
#my-indicators {

  position:absolute ;
  top:30px;
  left:775px ;
  width: 150px ;
} 

#logo-menu
{
  float:right; 
  padding-right:30px; 
  padding-top:10px;
}

.margen-menu-navbar
{
  margin-bottom: 90px;
}

.header-carousel{
  position:absolute; 
  top: 370px; 
  right:0;
  font: normal normal normal 50px/1.4em Impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif ; 
  text-align:right; 
  padding:10px 20px 10px 100px; 
  color:white;
  background: rgba(85, 85, 85, 0.85);

}
.carousel-indicators {
  visibility: hidden; 
}

.margen-derecho-menu{
  padding-right:30px;
}

.margin-bottom-title{
  margin-bottom: 80px;
}

.carousel-description-container {
  position:absolute; 
  bottom: -10px; 
  width: 100%; 
  height: 100px;
  background-color: rgba(150, 150, 150, 0.90);

}


.carousel-title {
  padding-left: 20px;
  font: normal normal normal 20px/1.4em Impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif ; 


}

.carousel-description {
  padding-left: 20px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;


}

.bold{
  font-weight: bold;
}

p.segundo-titulo{
 font: normal normal normal 17px 'Open Sans',sans-serif ;
 color: white;
}

h1 {
  font: normal normal normal 70px/1.4em Impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif !important;
  margin-left: 10px !important;
}

.section-title
{
  padding-left: 13px;
  margin-bottom: 0px;
  text-align: left;
  font: normal normal normal 30px Impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif !important;
}

h2{
  font: normal normal normal 25px/1.4em Impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif !important;
}


h1 ,h2,h3{
  color: white !important; 
}




.wrapperTransparency{
  padding: 1% 0 1% 3%;
  background: rgba(85, 85, 85, 0.85);
  z-index: 1000;
}

.topMenuTransparency{
  position: absolute;
  background: rgba(10, 10, 10, 0.85);
  height:270px;
  width: 1000px;
  z-index: -1;
}


.footerTransparency{
  background:rgba(25,25,25,0.4);
  padding: 30px 0 30px 20px;
  height: 200px;
  margin-bottom: 50px;
}




div.hr {
  width: 100%;
  background: #fff  no-repeat scroll center;

}

div.hr hr {
  display: none;

}


div.nav-back
{
  width: 100%;
  background-color: rgb(57,57,57);
  position: absolute;
  top: 0;
  height: 55px;
}







.sub-menu{



}

ul.nav-menu {

  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 20px;
  list-style-type: none;
  margin-left: -30px;
  padding-right:30px;
  padding-left: 40px;
  overflow: hidden;
  background-color: rgba(50, 50, 50, 0.75);
  top: 0;
  z-index: 150;
  width: 1000px;   
  }



hr.top-menu
{

  position: absolute;
  top:376px ;
  border-top: solid 2px rgb(174, 255, 178);
  width: 1000px;
  margin-left: -30px;
}



li.nav-desc a {
  
  font-size: 24px !important;
  font-weight: bold !important;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 100px ;
  padding-left: 10px !important;
  text-decoration: none;
  float:left;
}


.main-nav-scrolled {
  border: none !important;
  background-color: rgb(40,40,40) !important;
  position: fixed;
  width: 100%;
}

#contenido.sticky-active
{
  margin-top: 110px;
}



.fb-logo{

height: 25px;
width:25px;
margin-top: 12px;
float:right;
margin-left: 10px;
margin-right: 5px;
}





.wrapper {
	min-height: 100% !important;
	height: 100%;
	margin: -10px auto 0 auto !important;
	width: 1000px;
}


.btn-xs.btn-default.btn{
  position:absolute ; 
  bottom:0px; 
  right:80px; 
  color: rgb(0,0,0);
  z-index:15; 
  background: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}

.btn-xs.btn-default.btn:focus{
  border:none;
  outline:none;
  background: none;
}

.btn-xs.btn-default.btn:active {
   border:none;
  outline:none;
  background: none;

}


.numero-slide{
  position:absolute ; 
  bottom:0px; 
  right:60px; 
  color: rgb(0,0,0);
  z-index:15; 
  background: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  font-weight:bold;
}



.underline{
  text-decoration: underline;
}


.centrar-footer{
  margin: 0 auto 0 10%;
  width: 800px;
}


.carousel-control.left, .carousel-control.right {
  position:absolute;
  top:50%;
  background-image: none !important;
  height:40px !important;
}

.carousel-caption{

 margin:0 auto;
 margin-top: 200px; 
 text-align:right;
}


hr.larga {
  border-top: dashed 2px rgb(174, 255, 178);
  margin: 0 3% 0 0;
}

hr.corta-2{
  border-top: dashed 2px rgb(174, 255, 178);
  margin-right: 250px;
  margin-left: 0px;
}


hr.corta{
  border-top: dotted 2px rgb(174, 255, 178);
  margin-right: 10px;
  margin-left: 10px;
}


.derecha
{
 float:right;
 padding-right:10%;
}

.right-line {
  border-right: 1px dashed #EEE;
}


.left-line {
  border-left: 2px dashed rgb(174, 255, 178);
  padding-left: 5%;
}



.desc3{
  text-align:left;
  padding-right:20%;
  color: white;
  font: normal normal normal 13px/1.4em 'Open Sans',sans-serif;
}


.precio2
{
  padding-right:6%;
  text-align:right;
  color: white;
}

.incluye{
  color:white;
  font: normal normal normal 12px/1.4em 'Open Sans',sans-serif;
}

.ingredientes{

  padding-left:5px;  
  color:white;
  font: normal normal normal 12px/1.4em 'Open Sans',sans-serif;
}

.precio-doble{
  float:right;  
  color:white;
  padding-left: 20px;}

.precio-extra{
  float:right;  
  color:white;
  padding-left: 11px;}

.titulo-extra{
  float:right;  
  color:white;
  padding-left: 32px;}

  .titulo-doble{
  float:right;  
  color:white;
  padding-left: 44px;}

  .descripcion{
  text-align:left;  
  color:white;
  font: normal normal normal 17px/1.4em 'Open Sans',sans-serif;
}



.nocol-margin
{
  margin-right: 13px;
  margin-left: 13px;
}


.descAbajo2{
  font: normal normal normal 13px/1.4em 'Open Sans',sans-serif;
  text-align:left;
  color: white;
}

.descAbajo1{
  text-align:left;
  color: rgb(174, 255, 178);
}
.precio-abajo{
  float:right; 
  padding-right:3%; 
  color:white}

.content {
  padding: 12px ;
}


.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}


*/